.signup-container
= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
  = render 'items/header-registration' , resource: @user
  %main.signup-main
    %section.signup-main__container
      %h2.signup-main__head.signup-main__head--registration
        会員情報入力
      .signup-main__content
        .signup-main__form-group
          = f.label :ニックネーム
          %span.signup-main__form-require 必須
          = f.text_field :nickname, { class: 'signup-main__input-default', placeholder: '例) メルカリ太郎' }
        .signup-main__form-group
          = f.label :メールアドレス
          %span.signup-main__form-require 必須
          = f.text_field :email, { class: 'signup-main__input-default', placeholder: '例)pc・携帯どちらでも可' }
        .signup-main__form-group
          = f.label :パスワード
          %span.signup-main__form-require 必須
          = f.text_field :password, { class: 'signup-main__input-default', placeholder: '例)6文字以上' }
        .signup-main__form-group
          %label パスワード(確認)
          %span.signup-main__form-require 必須
          = f.text_field :password, { class: 'signup-main__input-default', placeholder: '例)6文字以上' }
      .signup-main__content
        .signup-main__form-group
          = f.submit "次へ進む", class: "signup-main__btn-red"

= render 'signup/footer.registration'
