.tell-wrapper
  = render 'items/tell'

.tell_main
= form_for @tell do |f|
  = render "devise/shared/error_messages", resource: @tell
  .tell_main_head
    電話番号の確認
  .tell_main_content
  
    .tell_main_contant_name 
      = f.label :telephone, "携帯電話の番号"
      = f.text_field :telephone, { class: 'tell_main_content_num', placeholder: '携帯電話の番号を入力' }
    .tell_main_content_des
      本人確認のため、携帯電話のSMS(ショートメッセージサービス)を利用して認証を行います。
      = f.submit "次へ進む", class: "tell_main_content_btn"
    .tell_main_content_btn_des
      ※電話番号は本人確認や不正利用防止のために利用します。他のユーザーに公開されることはありません。
    .tell_main_content_reason
      =link_to "#", class: "tell_main_content_reason" do
        電話番号の確認が必要な理由＞


.tell_bottom
  =link_to "#", class: "tell_bottom_privacy" do
    プライバシーポリシー
  =link_to "#", class: "tell_bottom_terms" do
    メルカリ利用規約
  =link_to "#", class: "tell_bottom_notation" do
    特定商取引に関する表記
  .tell_bottom_logo
    = image_tag "logo_gray.svg", width: "110px" 