.mypage-main-container
  = render "items/header"
  %main.mypage-container.clearfix
    = render 'mypages/content'
    = render 'mypages/side-bar'
    = render 'items/exhibition'
  = render 'items/footer'