.mypage-main-container
  = render 'items/header'
.breadcrumb
  .breadcrumb-text
  - breadcrumb :users_show
  = breadcrumbs separator: "&rsaquo;"
%main.mypage-container.clearfix
  = render 'mypages/content'
  = render 'mypages/side-bar'
  = render 'items/exhibition'
= render 'items/footer'