.mypage-main-container
  = render 'items/header'
  - breadcrumb :users_logout
  = breadcrumbs separator: "&rsaquo;"
%main.mypage-container.clearfix
  = render 'mypages/side-bar'
  = render 'items/exhibition'
  .logout_content
    .logout_content_btn
      =link_to destroy_user_session_path, method: :delete, class: "logout_content_btn" do
        ログアウト
      = link_to "", :back, class: 'logout_content_btn' 
= render 'items/footer'

