.mypage-contents__side-bar
  %nav.side-bar-nav
    %ul.side-bar__list
      %li
        = link_to '#', class: 'side-bar__list-avtive' do
          マイページ
          %i.fa.fa-arrow-right
      %li
        = link_to '#', class: 'side-bar__list-avtive' do
          お知らせ
          %i.fa.fa-arrow-right
      %li
        = link_to '#', class: 'side-bar__list-avtive' do
          やることリスト
          %i.fa.fa-arrow-right
      %li
        = link_to '#', class: 'side-bar__list-avtive' do
          いいね!一覧
          %i.fa.fa-arrow-right
      %li
        = link_to '#', class: 'side-bar__list-avtive' do
          出品する
          %i.fa.fa-arrow-right
      %li
        = link_to '#', class: 'side-bar__list-avtive' do
          出品した商品-出品中
          %i.fa.fa-arrow-right
      %li
        = link_to '#', class: 'side-bar__list-avtive' do
          出品した商品-取引中
          %i.fa.fa-arrow-right
      %li
        = link_to '#', class: 'side-bar__list-avtive' do
          出品した商品-売却済み
          %i.fa.fa-arrow-right
      %li
        = link_to '#', class: 'side-bar__list-avtive' do
          購入した商品-取引中
          %i.fa.fa-arrow-right
      %li
        = link_to '#', class: 'side-bar__list-avtive' do
          購入した商品-過去の取引
          %i.fa.fa-arrow-right
      %li
        = link_to '#', class: 'side-bar__list-avtive' do
          ニュース一覧
          %i.fa.fa-arrow-right
      %li
        = link_to '#', class: 'side-bar__list-avtive' do
          評価一覧
          %i.fa.fa-arrow-right
      %li
        = link_to '#', class: 'side-bar__list-avtive' do
          ガイド
          %i.fa.fa-arrow-right
      %li
        = link_to '#', class: 'side-bar__list-avtive' do
          お問い合わせ
          %i.fa.fa-arrow-right
    %h3.side-bar-head
      メルペイ
    %ul.side-bar__list
      %li
        = link_to '#', class: 'side-bar__list-avtive' do
          売り上げ、振込申請
          %i.fa.fa-arrow-right
      %li
        = link_to '#', class: 'side-bar__list-avtive' do
          ポイント
          %i.fa.fa-arrow-right
    %h3.side-bar-head
      設定
    %ul.side-bar__list
      %li
        = link_to '#', class: 'side-bar__list-avtive' do
          プロフィール
          %i.fa.fa-arrow-right
      %li
        = link_to '#', class: 'side-bar__list-avtive' do
          発送元、、お届け先住所変更
          %i.fa.fa-arrow-right
      %li
        = link_to '#', class: 'side-bar__list-avtive' do
          支払い方法
          %i.fa.fa-arrow-right
      %li
        = link_to '#', class: 'side-bar__list-avtive' do
          メール/パスワード
          %i.fa.fa-arrow-right
      %li
        = link_to '#', class: 'side-bar__list-avtive' do
          本人情報
          %i.fa.fa-arrow-right
      %li
        = link_to '#', class: 'side-bar__list-avtive' do
          電話番号の確認
          %i.fa.fa-arrow-right
      %li
        = link_to '#', class: 'side-bar__list-avtive' do
          ログアウト
          %i.fa.fa-arrow-right
