.login_page
  .login_logo
    = image_tag "fmarket_logo_red.svg", class: "image", width: "200px"

  .login
    .login_message
      =link_to "#", class: "login_message_no" do
        アカウントをお持ちでない方はこちら
      =link_to new_user_registration_path, class: "login_message_new" do
        新規会員登録
    .login_sns
      =link_to user_facebook_omniauth_authorize_path, method: :post, class: "login_sns_fb" do
        = icon('fab', 'facebook-square', class: "login_sns_fb_btn")
        Facebookでログイン
      =link_to user_google_oauth2_omniauth_authorize_path, method: :post, class: "login_sns_gg" do
        = icon('fab', 'google', class: "login_sns_gg_btn")
        Googleでログイン
    .login_form
      = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
          
        .login_form_id
          = f.email_field :email, :placeholder => "メールアドレス",class: 'form-control', id: 'session_email'
        .login_form_pw 
          = f.password_field :password, :placeholder => "パスワード",class: 'form-control', id: 'session_password'
        .actions
          = f.submit "ログイン", class: "login_form_btm"
          =link_to "#", class: "login_form_lost" do
            パスワードをお忘れの方

  .login_bottom
    =link_to "#", class: "login_bottom_privacy" do
      プライバシーポリシー
    =link_to "#", class: "login_bottom_terms" do
      メルカリ利用規約
    =link_to "#", class: "login_bottom_notation" do
      特定商取引に関する表記
  .login_bottom_logo
    = image_tag "logo_gray.svg", width: "110px"
