.toppage-header-wrapper
  .toppage-header-top
    .toppage-header-top__header
      .toppage-header-top__header-contents
        .toppage-header-top__header-search
          = image_tag "fmarket_logo_red.svg", class: "image", width: "150px"
      .toppage-header-top__header-search-form
        .toppage-header-top__header-btn
          = fa_icon "search"
        %input.seach{:placeholder => "何かお探しですか？", :type => "text"}
  .toppage-header-top__footer
    .toppage-header-top__footer-search
      .toppage-header-top__footer-search-categories
      = link_to root_path do
        = icon('fas', 'list-ul lg',
        alt: 'list-icon', style: 'color:#ea352d')
      .toppage-header-top__footer-search-wrapper カテゴリーから探す
      = link_to root_path do
        = icon('fas', 'tag lg', alt: 'tag-icon',
        style: 'color:#ea352d', class: 'toppage-header-top__footer-search-brand--icon')
      .toppage-header-top__footer-search-brand ブランドから探す
    .toppage-header-top__footer-search-btn
      .toppage-header-top__footer-search-btn-wrapper
        %a.toppage-header-top__footer-search-btn-new 新規会員登録
        %a.toppage-header-top__footer-search-btn-login ログイン
