.toppage-main
  .toppage-main__category-top
    人気のカテゴリー（仮の商品一覧ページ）
    %ul.toppage-main__list
      %li.toppage-main__menu
        =link_to "#", class: "toppage-main__logo" do
          レディース
        =link_to "#", class: "toppage-main__logo" do
          メンズ
        =link_to "#", class: "toppage-main__logo" do
          家電・スマホ・カメラ新着アイテム
        =link_to "#", class: "toppage-main__logo" do
          おもちゃ・ホビー・グッズ新着アイテム
.toppage-main__category-bottom
  .toppage-main__category-name
    .toppage-main__text
      レディース新着アイテム（仮の商品一覧）
    .toppage-main__box
      %ul.toppage-main__smallbox
        %li.toppage-main__smallbox_price ¥1,200
        %li.toppage-main__smallbox_photo
          = image_tag "cropkey458A2852.jpg", width: "100%", height: "150px"
        %li.toppage-main__smallbox_name キーケース
      %ul.toppage-main__smallbox
        %li.toppage-main__smallbox_price ¥1,000
        %li.toppage-main__smallbox_photo
          = image_tag "cropchikyuGFVS3960.jpg", width: "100%", height: "150px"
        %li.toppage-main__smallbox_name 地球儀
      %ul.toppage-main__smallbox
        %li.toppage-main__smallbox_price ¥600
        %li.toppage-main__smallbox_photo
          = image_tag "cropsetubunPAKU2668.jpg", width: "100%", height: "150px"
        %li.toppage-main__smallbox_name お面と豆
      %ul.toppage-main__smallbox
        %li.toppage-main__smallbox_price ¥1,800
        %li.toppage-main__smallbox_photo
          = image_tag "cropN811_oyatunojikanwosasutokei.jpg", width: "100%", height: "150px"
        %li.toppage-main__smallbox_name 目覚まし時計
      %ul.toppage-main__smallbox        
        %li.toppage-main__smallbox_price ¥200
        %li.toppage-main__smallbox_photo
          = image_tag "cropN114_kougoninarabuobakekabocya.jpg", width: "100%", height: "150px"
        %li.toppage-main__smallbox_name 南瓜
  .toppage-main__category-name
    .toppage-main__text 
      メンズ新着アイテム
    .toppage-main__box 
  .toppage-main__category-name
    .toppage-main__text 
      家電・スマホ・カメラ新着アイテム
    .toppage-main__box
  .toppage-main__category-name
    .toppage-main__text
      おもちゃ・ホビー・グッズ新着アイテム
    .toppage-main__box

