.wrapper
  .entry-header
    freemarket
  .paymethod-contents
    %h2.paymethod-header
      支払い方法
    %form.paymethod-register
      .form-card
        .form-card__number
          %label カード番号
          %span.form-require 必須
          %br/
          %input.input-defalt{:name => "text", :placeholder => "半角数字のみ"}
          %ul.card-list 
            %li
              = image_tag "credit-gold-01.png", class:"image", width: "40px", height: "30px"
            %li
              = image_tag "credit-gold-01.png", class:"image", width: "40px", height: "30px"
            %li
              = image_tag "credit-gold-01.png", class:"image", width: "40px", height: "30px"
            %li
              = image_tag "credit-gold-01.png", class:"image", width: "40px", height: "30px"
            %li
              = image_tag "credit-gold-01.png", class:"image", width: "40px", height: "30px"
            %li
              = image_tag "credit-gold-01.png", class:"image", width: "40px", height: "30px"
            %li
              = image_tag "credit-gold-01.png", class:"image", width: "40px", height: "30px"
        .form-card__limit
          %label 有効期限
          %sapn.form-require 必須
          %br/
          .select-half
            %input.select-default
            %i.fas.fa-chevron-down
            %span 月
          .select-half
            %input.select-default
            %i.fas.fa-chevron-down
            %span 年
        .form-card__number
  .entry-footer
    プライバシー