.signup_page
  <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
  .signup_logo
    = image_tag "fmarket_logo_red.svg", class: "image", width: "200px"

  .signup
    .signup_message 新規会員登録
    .signup_sns
      =link_to "#", class: "signup_sns_ma" do
        = icon('far', 'envelope', class: "signup_sns_ma_btn")
        メールアドレスで登録する
      =link_to "#", class: "signup_sns_fb" do
        = icon('fab', 'facebook-square', class: "signup_sns_fb_btn")
        Facebookで登録する
      =link_to "#", class: "signup_sns_gg" do
        = icon('fab', 'google', class: "signup_sns_gg_btn")
        Googleで登録する

  .signup_bottom
    =link_to "#", class: "signup_bottom_privacy" do
      プライバシーポリシー
    =link_to "#", class: "signup_bottom_terms" do
      メルカリ利用規約
    =link_to "#", class: "signup_bottom_notation" do
      特定商取引に関する表記
  .signup_bottom_logo
    = image_tag "logo_gray.svg", width: "110px" 
    