.paymethod-contents-register
  .paymethod-header
    クレジットカード情報入力
  .paymethod-register
    .form-card
      .form-card__number
        = form_with url: pay_card_index_path, method: :post, html: { name: "inputForm" } do |f|
          %label カード番号
          %sapn.form-require 必須
          %br
          = text_field_tag "number", "", class: "input-default", placeholder: "半角数字のみ" ,maxlength: "16", type: "text", id: "card_number"
          %ul.card-list 
            %liist 
            %li
              = image_tag "credit-card_22.png", class:"image", width: "40px", height: "30px"
            %li
              = image_tag "credit-card_28.png", class:"image", width: "40px", height: "30px"
            %li
              = image_tag "credit-card_9.png", class:"image", width: "40px", height: "30px"
            %li
              = image_tag "credit-card_26.png", class:"image", width: "40px", height: "30px"
            %li
              = image_tag "credit-card_19.png", class:"image", width: "40px", height: "30px"
            %li
              = image_tag "credit-card_31.png", class:"image", width: "40px", height: "30px"
            %li
              = image_tag "credit-card_15.png", class:"image", width: "40px", height: "30px"
          .form-card__limit
            %label 有効期限
            %sapn.form-require 必須
            %br
            .select-half
              %select#exp_month{name: "exp_month", type: "text", class:"select-default"}
                %option{value: ""} --
                %option{value: "1"}01
                %option{value: "2"}02
                %option{value: "3"}03
                %option{value: "4"}04
                %option{value: "5"}05
                %option{value: "6"}06
                %option{value: "7"}07
                %option{value: "8"}08
                %option{value: "9"}09
                %option{value: "10"}10
                %option{value: "11"}11
                %option{value: "12"}12
              %span 月
            .select-half
              %select#exp_year{name: "exp_year", type: "text", class:"select-default"}
                %option{value: ""} --
                %option{value: "2019"}19
                %option{value: "2020"}20
                %option{value: "2021"}21
                %option{value: "2022"}22
                %option{value: "2023"}23
                %option{value: "2024"}24
                %option{value: "2025"}25
                %option{value: "2026"}26
                %option{value: "2027"}27
                %option{value: "2028"}28
                %option{value: "2029"}29
              %span 年
          .form-card__number
            %label セキュリティコード
            = text_field_tag "cvc", "", class: "input-default", placeholder: "カード背面3~4桁の番号", maxlength: "4", id: "cvc"
            #card_token
            = submit_tag "追加する", id: "token_submit", class:"btn-default-red"